<div class="container">
    <form action="/register" class="container form col-4" method="post">
        <label class="form-label mt-5" for="username">username</label>
        <input class="form-control mb-3" type="text" name="username">
        <label for="password">Password</label>
        <input class="form-control mb-3" class="form-label" type="password" name="password">
        <label for="email">Email</label>
        <input class="form-control mb-3" class="form-label" type="email" name="email">
        <button class="btn btn-primary mt-3" type="submit">submit</button>
    </form>
</div>